<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>How RentWise Works</title> <link rel="icon" type="image/jpg" href="Favicon.jpg">
        <link rel = "stylesheet" href="static\style.css">
        <link href="https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d5bd206066.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <nav class="navbar">
            <img src="static\Favicon.jpg" alt="RentWise Logo">
            <h1 id="NavHead1">RentWise</h1>
            <ul>
                <li><a href="/">Prediction Model</a></li>
                <li> <a href ="/about">About RentWise</a></li>
                <li><a href = "/how-it-works">How It Works</a></li>
            </ul>
        </nav>

        <main class="content-wrapper">
            <h1 >How RentWise Works</h1>

            <section class="about-content">
               

                </section>
        </main>

        <footer class="bottom-nav">
            <div class="footer-content">
                <div class="social-icons">
                    <a href="mailto:cthakral6@gmail.com" aria-label="Email"><i class="fa-regular fa-envelope"></i></a>
                    <a href="https://github.com/ChaitanyaThakral/UBC-Housing-Analysis" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/chaitanyathakrai/" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </footer>

    </body>
</html>
